p {
    margin: 0;
}

body {
    overflow: hidden;
}

.page-container {
    display: grid;
    margin: 0;
    padding: 0;
    width: 100vw;
    gap: 1rem;
    grid-template-rows: min-content;
    grid-template-columns: 1fr;
}

#test-text {
    grid-column: 0;
    grid-row: 1;
}
